// Colors
$brand-primary: #1abc9c;
$grey: #BDC3C7;
$light-grey: #ECF0F1;
$dark-grey: #777777;
$asphalt: #34495E;
$blue: #3498DB;
$dark-red: #C0392B;
$red: #E74C3C;

// Body
$body-background-color: $grey;
$body-default-color: $asphalt;
$body-default-font-family: Lato;

// Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 115rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 2.2rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $brand-primary;
$boxed-view-bg: #edeff1;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $asphalt;
$header-color: white;
$header-height: 6rem;

// item
$item-border-width: 4px;


// Page content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});