// Colors
$brand-primary: #1abc9c;
$grey: #BDC3C7;
$light-grey: #ECF0F1;
$dark-grey: #777777;
$asphalt: #34495E;
$blue: #3498DB;
$dark-red: #C0392B;

// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $brand-primary;
$boxed-view-bg: #edeff1;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $asphalt;
$header-color: white;

// item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
