.header {
  background-image: linear-gradient(to right, #57a2ff 0%, #938aea 110%);
  color: $header-color;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.header__content {
  //align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
  font-weight: 450;
  padding-left: 10px;

  @include desktop {
    padding-left: 0;
    font-weight: 700;
  }
}

.header__right {
  display: flex;
}

.header__github-link {
  display: none;

  @include desktop {
    display: inline-block;
  }
}

.header__left {
  display: flex;
}

.header__nav-toggle {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 5.7px;

  @include desktop {
    display: none;
  }
}