// Item list
.item-list {
  background-color: white;
  border: none;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);

  @include desktop {
    border-radius: 12px;
  }
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

// Item
.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color .3s ease, border-left .3s ease;
}

.item:hover{
  background-color: #f7fbfe;
  border-left: $item-border-width solid $grey;  
}

.item--selected, .item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $brand-primary;  
}

.item__title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
}

.item--selected .item__title {
  font-weight: bold;
}

.item__subtitle {
  color: $dark-grey;
  margin: 0;
}

.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}